In [1]:
import pandas as pd


#### Считывание csv
- encoding - кодировка ('utf-8', 'ISO-8859-1', 'Windows-1251' и др)
- sep - разделитель (по умолчанию ',')
- compression - метод сжатия для архивов
- parse_dates - стоит ли воспринимать даты как даты (по-умолчанию pandas воспринимает как строки).\n
    parse_dates = True - в дату переводится первая колонка или можно указать массив колонок

In [11]:
data  = pd.read_csv('data/6_data.zip', compression='zip', encoding='ISO-8859-1')

####  Первоначальные характеристики датафрейма
- df.**shape** - размерность датафрема (row, column)
- df.**head(n)** - первые n строчек из датафрейма (default=5)
- df.**tail(n)** - последние n строчек из датафрейма (default=5)
- df.**dtypes** - типы данных в столбцах датафрейма
- df.**[имя колонки].dtype** - тип значений в конкретной колонке
- df.**describe()** - рассчитывает базовые метрики для таблицы
- df.**info** - информация о датафрейме (
- df.**columns** - список колонок
- df.**index** - список индексов
- df[['column1', ''column2', 'column3']] - взять определенные столбцы из df

In [18]:
data.shape # число строк и столбцов в датафрейме

(541909, 8)

#### Проверить типы данных в столбцах датафрейма и определить, какой тип данных преобладает
1) Атрибут **dtypes**. Он возвращает серию, индексами которой являются названия столбцов, а значениями — тип данных в этих столбцах. Потом пробежаться глазами и посмотреть самый частый тип
2) Применить к датафрейму метод **info()**, который выводит подробную информацию о датафрейме и его колонках. Смотрим на последнюю строчку, там будет инфа о всех типах, например,
dtypes: float64(2), int64(1), object(5)

In [16]:
data.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

#### Переименование колонок
Для переименования колонок передайте в метод `rename()` в параметр `columns` словарь, где ключами являются старые названия колонок, а значениями — новые названия.

In [20]:
data = data.rename(columns={'old_name': 'new_name'})
#data.columns

#### Разные методы работы со столбцами
- df.column.**value_counts()** - число записей по каждому значению для колонки. По умолчанию в порядке убывания (**ascending=False**)
- df.column.**sum()** - сумма всех значений в столбце
- df.**sort_values('column', ascending=False)** - сортировка строк по значению в колонке column

In [23]:
data.Country.value_counts()

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

#### Группировка и агрегация данных
Для агрегации используется метод **agg**, обычно его используют сразу после группировки через **groupby**.
В результате агрерации из массива значений (колонка) получается одно значение на каждую агрегирующую функцию.
1) Если использовать перадачу в **agg** значений через словарь, то результат будет **датафреймом**.
Словарь вида
```[колонка для группировки]: функция, которую применяем к значениям этой колонки```

**groupby**('column', **as_index = False**) - позволяет не делать колонку индексом в датафрейме после группировки.

In [31]:
data.groupby('Country', as_index = False).agg({'InvoiceNo': 'count'})   #количество заказов, сгруппированных по стране

                 Country  InvoiceNo
0              Australia       1259
1                Austria        401
2                Bahrain         19
3                Belgium       2069
4                 Brazil         32
5                 Canada        151
6        Channel Islands        758
7                 Cyprus        622
8         Czech Republic         30
9                Denmark        389
10                  EIRE       8196
11    European Community         61
12               Finland        695
13                France       8557
14               Germany       9495
15                Greece        146
16             Hong Kong        288
17               Iceland        182
18                Israel        297
19                 Italy        803
20                 Japan        358
21               Lebanon         45
22             Lithuania         35
23                 Malta        127
24           Netherlands       2371
25                Norway       1086
26                Poland        341
27              Portugal       1519
28                   RSA         58
29          Saudi Arabia         10
30             Singapore        229
31                 Spain       2533
32                Sweden        462
33           Switzerland       2002
34                   USA        291
35  United Arab Emirates         68
36        United Kingdom     495478
37           Unspecified        446

2. Можно вызывать функцию-агрерат непосредственно на **колонке после группировки**. Тогда результат - **Series** (а-ля колонка в pandas)

In [32]:
data.groupby('Country', as_index = False).InvoiceNo.sum()

                 Country                                          InvoiceNo
0              Australia  5363895363895363895363895363895363895363895363...
1                Austria  C538971539330539330539330539330539330539330539...
2                Bahrain  539500C540155552449552449552449552449552449552...
3                Belgium  5370265370265370265370265370265370265370265370...
4                 Brazil  5502015502015502015502015502015502015502015502...
5                 Canada  5465335465335465335465335465335465335465335465...
6        Channel Islands  5380025380025380025380025380025380025380025380...
7                 Cyprus  5388265388265388265388265388265388265388265388...
8         Czech Republic  5450725450725450725450725450725450725450725450...
9                Denmark  5380035380035380035380035380035380035380035380...
10                  EIRE  5365405365405365405365405365405365405365405365...
11    European Community  5510135510135510135510135510135510135510135510...
12               Finland  5393185393185393185393185393185393185393185393...
13                France  5363705363705363705363705363705363705363705363...
14               Germany  5365275365275365275365275365275365275365275365...
15                Greece  5419325419325419325419325419325419325419325419...
16             Hong Kong  5419755419755419755419755419755419755419755419...
17               Iceland  5376265376265376265376265376265376265376265376...
18                Israel  C539037C53903754055654055654055654055654055654...
19                 Italy  5370225370225370225370225370225370225370225370...
20                 Japan  5372185372185372185372185372185372185372185372...
21               Lebanon  5422765422765422765422765422765422765422765422...
22             Lithuania  5370815370815370815370815370815370815370815370...
23                 Malta  5559315559315559315559315559315559315559315559...
24           Netherlands  5364035364035394915394915394915394915394915394...
25                Norway  5365325365325365325365325365325365325365325365...
26                Poland  5369715369715369715369715369715369715369715369...
27              Portugal  5369905369905369905369905369905369905369905372...
28                   RSA  5710355710355710355710355710355710355710355710...
29          Saudi Arabia  5448385448385448385448385448385448385448385448...
30             Singapore  5421025421025421025421025421025421025421025421...
31                 Spain  5369445369445369445369445369445380955380955380...
32                Sweden  C538847538848539338539338539338539338539338539...
33           Switzerland  5368585368585368585368585368585368585394885394...
34                   USA  5506445506445506445506445506445506445506445506...
35  United Arab Emirates  5439115439115439115439115439115439115439115439...
36        United Kingdom  5363655363655363655363655363655363655363655363...
37           Unspecified  5496875496875496875496875496875496875496875496...

####  Поиск минимального и максимального значения
- df.column.**idxmax()** - индекс максимального значения
- df.column.**idxmin()** - индекс минимального значения
- df.column.**min()** - минимальное значение
- df.column.**max()** - максимальное значение

In [33]:
data.Quantity.max()

80995

In [34]:
data.Quantity.idxmax()

540421

In [35]:
data.index

RangeIndex(start=0, stop=541909, step=1)

#### Фильтрация